* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/262.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% top;
  line-height: 1.5;
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  width: 90%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.cite {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
}

.link {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  left: 0;
  text-align: center;
  color: white;
}

.lang {
  padding-bottom: 0.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: small;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .cite {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .cite {
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }
  .link {
    right: 1rem;
    text-align: right;
  }
  a {
    text-align: right;
  }
}